# IDE
.vs/
.vscode/**
!.vscode/launch.json
!.vscode/tasks.json
.idea/

# Build Artifacts
/*/obj/
/*/bin/
/bin/
/pkg/
nupkg/
[Bb]uild/
/dist/

# BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

# User Preferences
*.user

# MacOS Cache
*.DS_Store

# Nix environment
[Rr]esult
.data/

.github/copilot-instructions.md
create-arch-bin-package.sh
create-arch-package.sh
global.json
eng/bash/Arch/no-build
eng/bash/Arch/opentabletdriver.install
eng/bash/Arch/package.sh
generate-rules.sh
diffs/
